	/* RESET CSS CODE FROM:
	   http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}

	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}	


	/* Site specific definitions */

body{
    font-family: 'Ubuntu', sans-serif;
    color: #333;
    background-color: #fff;
    border-color: #999999;
    border-width: 2px;
    line-height: 1.5;
    text-align:left;
}


pre{
    background-color: #eee;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    overflow: auto;
    margin-bottom:20px;
}
code{
    background-color: #eee;
    padding: 1px 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; 
}
pre code {
    padding-left: 0px;
    padding-right: 0px;
}
li p{
    margin: 0.3em;
}
ul > li{
    list-style-type: disc;
    margin-left:10px;
}

ol > li{
	margin-left:10px;
}

a:link, a:visited{
    color: #33e;
    text-decoration: none;
}
a:hover{
    color: #00f;
    text-shadow:1px 1px 2px #ccf;
    text-decoration:underline;
}
h1{
    color: #999;
    font-weight: 400;
    font-size: 36px;
}
h2{
    border-bottom: 1px dotted #aaa;
    margin-bottom: 1em;
    color: #333;
    font-size: 30px;
}
h3{
    color: #666;
    font-size: 24px;
    margin-top:30px;
}

h4 {
    font-size: 21px;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    margin-top:10px;
    margin-left:10px;
}


.shadow{
    -webkit-box-shadow:0 5px 15px #000;
    -moz-box-shadow:0 5px 15px #000;
    box-shadow:0 5px 15px #000;     
}

	article {
	  border-top: 1px solid #ebebeb;
	  padding: 40px 0;
	}

	article strong{
		font-weight: bold;
		margin-top:10px;
	}

	article h2 {
	  margin-top: 20px;
	}

	article a{
    border-bottom: dotted 1px blue;
    text-decoration: none;

	}

	article ul {
		font-family: "Ubuntu";
		margin-left: 40px;
		margin-bottom:30px;
		margin-top:10px;

	}

	article p {
		margin-left:10px;
	}

	article img{
		height:400px;
		margin-bottom:20px;
	}

	
	#mainHeader {
	  font-size: 55px;
	}

	#introText {
	  font-weight: 400;
	  margin-top: 20px;
	  font-size: 26px;
	  line-height: 40px;
	  margin-bottom: 40px;
	}

	#wrapper {
	  margin: 0 auto;
	  position: relative;
	  min-width: 768px;
	}

	#wrapper nav {
	  width: 15%;
	  min-width: 200px;
	  padding-right: 20px;
	  position: fixed;
	  height: 100%;
	  overflow-y: scroll;
	  top: 0;
	  z-index: 1;
	  padding: 40px 20px 60px 20px;
	  font-family: 'Ubuntu', sans-serif;
	  background-color: #ebebeb;
	  margin-top: 40px;
	}

	#wrapper nav dl {
	  color: #767c8d;
	}

	#wrapper nav dl dt {
	  list-style: none;
	  margin-top: 10px;
	  margin-bottom: 5px;
	}

	#wrapper nav dl dt a {
	  display: block;
	  padding: 2px 0;
	  border-bottom: 1px solid rgba(118, 124, 141, 0.2);
	  text-decoration: none;
	}

	#wrapper nav dl dd {
	  margin-bottom: 5px;
	  padding-left: 5px;
	}

	#wrapper nav dl dd:before {
	  content: "- ";
	}

	#wrapper nav dl dd a {
	  text-decoration: none;
	  font-size: 12px;
	  border-bottom: 1px solid transparent;
	}

	#wrapper nav dl a {
	  -webkit-transition: all 200ms ease-in-out;
	  -moz-transition: all 200ms ease-in-out;
	  -o-transition: all 200ms ease-in-out;
	  -ms-transition: all 200ms ease-in-out;
	  transition: all 200ms ease-in-out;
	}

	#wrapper nav dl a:hover {
	  color: #2d91ea;
	  border-bottom-color: #2d91ea;
	}

	#contentWrapper {
	  width: 80%;
	  max-width: 940px;
	  margin-left: 20%;
	  padding: 0px 40px;
	  padding-top: 72px;
	}


	.header ul li a {
		text-decoration: none;
	}

	.header {
	  background: #333;
	  border-bottom: solid 1px #dfe2e7;
	  padding: 15px 15px 15px 30px;
	  zoom: 1;
	  line-height: 20px;
	  position: fixed;
	  width:100%;
	  z-index: 10;
	}

	.header:before,
	.header:after {
	  content: "";
	  display: table;
	}

	.header:after {
	  clear: both;
	}

	.header .left {
	  float: left;
	}

	.header .left img{
		height: 35px;
	}

	.header .right {
	  text-align: right;
	  position: absolute;
	  right: 15px;
	  top: 15px;
	}

	.header .right iframe {
	  display: inline-block;
	  vertical-align: middle;
	}

	.header h1 {
	  -webkit-font-smoothing: antialiased;
	  text-rendering: optimizeLegibility;
	  font-weight: bold;
	  font-family: 'Ubuntu', sans-serif;
	  font-size: 13px;
	}

	.header h1,
	.header h1 a,
	.header h1 a:visited {
	  color: #9090aa;
	}

	.header h1 a:hover {
	  color: #505050;
	}

	.header li a {
	  font-size: medium;
	  color: white;
	  display: block;
	}

	.header li a:hover {
	  color: #3a3a44;
	}
